.page-header {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}

/*
 * Navbar
 */
.navbar {
 background-color: #ffffff;
 border: none;
}
.navbar-nav {
  float: right;
  & > li > a {
    line-height: 35px;
  }
}

/* Site logo */
.site-logo-link {
  display: inline-block;
  margin-top: 14px;
}

/* Navbar fonts */
.navbar-nav {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}
